# Copier ce fichier en .env et remplir les valeurs
# NE JAMAIS COMMITTER .env

# Azure Data Lake Storage Gen2
ADLS_ACCOUNT_NAME=homepediadatalake
ADLS_ACCOUNT_KEY=<clé_azure_portal>

# Répertoire local temporaire pour les téléchargements
LOCAL_DATA_DIR=/tmp/dvf

# PRIM — Île-de-France Mobilités (requis pour GTFS)
# Inscription gratuite sur https://prim.iledefrance-mobilites.fr/
PRIM_API_KEY=<votre_clé_prim>
