# Copie ce fichier en .env et remplis les valeurs
# NE JAMAIS committer le .env dans git !

ADLS_ACCOUNT_NAME=homepediadatalake
ADLS_ACCOUNT_KEY=<ta_clé_ici>   # Azure Portal → homepediadatalake → Clés d'accès
LOCAL_DATA_DIR=/tmp/dvf
